<app-generic-table [selectedItems]="selectedRowItems" [toolBarStartActions]="toolBarStartActions" [tableConfig]="tableConfig" [tableData]="tableData" (onToolBarStartAction)="handleToolBarActions($event)" (onSelectionChange)="handleRowSelectionChange($event)" />

<ng-template #createUpdateRoleContent>
    <h3 class="text-xl font-semibold mb-4 text-muted-color-emphasis">{{isEditMode ? 'Update ' : 'Create '}}Role</h3>
    <app-generic-stepper [steps]="formSteps" [validateFromApi]="false" [editMode]="isEditMode" [editData]="editData" (stepChange)="onStepChange($event)" (formSubmit)="onFormSubmit($event)">

        <ng-template #customStep let-stepIndex let-data>
            <div class="permission-panel p-4 bg-white rounded-lg shadow-md">
              <h2 class="text-xl font-bold mb-4">Permission Management</h2>
              
              <!-- Main menu items -->
               @for (item of menuItems; track $index) {
                   <div class="menu-item mb-4">
                     <div class="flex items-center justify-between p-3 bg-gray-50 rounded-md">
                       <div class="flex items-center">
                         <i [class]="item.icon" class="mr-2 text-blue-500"></i>
                         <span class="font-medium">{{ item.label }}</span>
                       </div>
                       
                       <div class="flex space-x-6">
                         <!-- Read permission checkbox -->
                         <div class="flex items-center">
                           <p-checkbox 
                             [(ngModel)]="item.permissions.read" 
                             [binary]="true"
                             inputId="{{item.label}}-read"
                             (onChange)="updateChildPermissions(item, 'read')">
                           </p-checkbox>
                           <label [for]="item.label + '-read'" class="ml-2 text-sm text-gray-600">Read</label>
                         </div>
                         
                         <!-- Write permission checkbox -->
                         <div class="flex items-center">
                           <p-checkbox 
                             [(ngModel)]="item.permissions.write" 
                             [binary]="true"
                             inputId="{{item.label}}-write"
                             (onChange)="updateChildPermissions(item, 'write')">
                           </p-checkbox>
                           <label [for]="item.label + '-write'" class="ml-2 text-sm text-gray-600">Write</label>
                         </div>
                       </div>
                     </div>
                     
                     <!-- Sub-items if present -->
                      @if(item.items && item.items.length > 0) {
                          <div class="pl-6 mt-2">
                            @for (subItem of item.items; track $index) {
                                <div class="sub-menu-item my-2">
                                  <div class="flex items-center justify-between p-2 bg-gray-50 rounded border-l-4 border-blue-400">
                                    <div class="flex items-center">
                                      <i [class]="subItem.icon" class="mr-2 text-blue-500"></i>
                                      <span>{{ subItem.label }}</span>
                                    </div>
                                    
                                    <div class="flex space-x-6">
                                      <!-- Read permission checkbox for sub-item -->
                                      <div class="flex items-center">
                                        <p-checkbox 
                                          [(ngModel)]="subItem.permissions.read" 
                                          [binary]="true"
                                          inputId="{{item.label}}-{{subItem.label}}-read"
                                          (onChange)="updateParentPermissions(item)">
                                        </p-checkbox>
                                        <label [for]="item.label + '-' + subItem.label + '-read'" class="ml-2 text-sm text-gray-600">Read</label>
                                      </div>
                                      
                                      <!-- Write permission checkbox for sub-item -->
                                      <div class="flex items-center">
                                        <p-checkbox 
                                          [(ngModel)]="subItem.permissions.write" 
                                          [binary]="true"
                                          inputId="{{item.label}}-{{subItem.label}}-write"
                                          (onChange)="updateParentPermissions(item)">
                                        </p-checkbox>
                                        <label [for]="item.label + '-' + subItem.label + '-write'" class="ml-2 text-sm text-gray-600">Write</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            }
                          </div>
                      }
                   </div>
               }
            </div>
          </ng-template>


    </app-generic-stepper>
</ng-template>

<ng-template #assignRoleToUsers>
    <h3 class="text-xl font-semibold mb-4 text-muted-color-emphasis">{{isEditMode ? 'Update ' : 'Assign '}}Role</h3>
    <app-generic-stepper [steps]="assignRoleformSteps" [validateFromApi]="false" [editMode]="isEditMode" [editData]="editData" (stepChange)="onStepChange($event)" (formSubmit)="onAssignUserFormSubmit($event)"></app-generic-stepper>
</ng-template>