<app-generic-table [selectedItems]="selectedRowItems" [toolBarStartActions]="toolBarStartActions" [tableConfig]="tableConfig" [tableData]="tableData" (onToolBarStartAction)="handleToolBarActions($event)" (onSelectionChange)="handleRowSelectionChange($event)" />
<ng-template #createUpdateRouteContent>
    <h3 class="text-xl font-semibold mb-4 text-muted-color-emphasis">{{isEditMode ? 'Update ' : 'Create '}}Route</h3>

    <div class=" bg-gray-50">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
        <div class="col-span-1 lg:col-span-3 flex flex-col">
          <app-generic-gm-route
            [height]="800"
            [apiKey]="googleMapsApiKey"
            [sourceLat]="selectedSource?.position?.latitude || 0"
            [sourceLng]="selectedSource?.position?.longitude || 0"
            [destinationLat]="selectedDestination?.position?.latitude || 0"
            [destinationLng]="selectedDestination?.position?.longitude || 0"
            [sourceGeofenceRadius]="selectedSource?.radius"
            [destinationGeofenceRadius]="selectedDestination?.radius"
            [routeToBeEdited]="currentRoute"
            (routeCreated)="onRouteCreated($event)"
            (routeSelected)="onRouteSelected($event)"
          ></app-generic-gm-route>
        </div>
        
        <div class="border rounded-lg shadow-md p-6 bg-white">
          <h3 class="text-lg font-semibold mb-4 text-gray-800">Route Settings</h3>
          <app-generic-stepper [formClass]="'grid grid-cols-1 md:grid-cols-1 gap-4'" [steps]="formSteps" [validateFromApi]="false" [editMode]="isEditMode" [editData]="editData" (stepChange)="onStepChange($event)" (formSubmit)="onFormSubmit($event)" (autoCompleteValue)="handleStepperAutoComplete($event)"></app-generic-stepper>
        </div>
      </div>
    </div>
</ng-template>


<ng-template #checkRouteTollsContent>
  <h3 class="text-xl font-semibold mb-4 text-muted-color-emphasis">Showing Route With Available Tolls</h3>

  <app-generic-view-on-map [apiKey]="googleMapsApiKey" [source]="mapObject.source" [destination]="mapObject.destination" [tolls]="mapObject.tolls"
    [routeData]="mapObject.routeData">
  </app-generic-view-on-map>
</ng-template>